<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trucks</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container mt-5">
    <h1>Trucks</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Truck Nr Plate</th>
            <th>Capacity</th>
            <th>Max Load</th>
            <th>Truck Material</th>
            <th>Truck driver</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="truck : ${trucks}">
            <td th:text="${truck.licensePlate}"></td>
            <td th:text="${truck.capacity}"></td>
            <td th:text="${truck.maxLoad}"></td>
            <td th:text="${truck.materialType}"></td>
            <td th:if="${truck.truckDriver != null}" th:text="${truck.truckDriver.name}"></td>
            <td th:if="${truck.truckDriver == null}">No Driver</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>